html,body {
	background-color: rgb(0, 121, 191) !important;
	height: 100%;
}
.table-info-container{
	background-color:#e8e8e8;
	padding: 2rem;
	margin-left: 0px;
	opacity: 1;
	transition: all, 1.3s;
	&.hide{
		opacity: 0;
		margin-left: -200px;
		transition: all, 1.3s;
	}
	table:last-child{
		margin-top: 2rem;
	}
}
.panel-default{
	.items-holder{
		width: 100%;
	}
}