html,body {
	background-color: rgb(0, 121, 191) !important;
	height: 100%;
}
.tables-vw {
	height: 100%;
	.tables-container {
		margin-top: 2rem;
		width:25%;
		display: inline-block;
		.table {
			vertical-align: top;
			background-color: white;
			height: 100%;
			border: 2px solid gray;
			.add-tablerowBtn {
				display: none;
				&.active {
					display: inline-block;
				}
			}
			.add-tableRow {
				border: 0;
			}
		}
	}
	.add-tableContainer {
		display: inline-block;
	    vertical-align: top;
	    margin-top: 2rem;
	    .add-tableInput{
	    	width: 9rem;
	    	transition: all 1s;
	    	&.active {
				width: 19rem;
				transition: all 1s;
	    	}
	    }
	    .add-tableBtn{
	    	display: none;
	    	opacity: 0;
	    	transition: all 1s;
	    	&.active {
				display: inline-block;
				opacity: 1;
				transition: all 1s;
	    	}
	    }
	}
}

